html {
  --hold-button-color: rgb(255,0,0);
  --hold-button-background-color: rgba(255,0,0,.3);
}

hold-button {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

hold-button[disabled] {
  pointer-events: none;
}

hold-button::part(content) {
  display: flex;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  border: 10px solid #FFF;
  border-radius: 50%;
  transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 200ms;
  transform: scale(1);
}

hold-button::part(icon),
hold-button>iron-icon {
    color: var(--hold-button-color);
    width: 50%;
    height: 50%;
    margin: 25%;
}

hold-button::part(content pressed) {
  transform: scale(1.5);
}

hold-button::part(content ready) {
  border-color: white !important;
}

hold-button::part(content) {
  border-color: var(--hold-button-color);
  background-color: var(--hold-button-background-color);;
}


hold-button:not([active="true"])::part(content) {
    opacity:0.5;
    filter: saturate(0%);
}