html {
  --hold-button-color: rgb(255,0,0);
  --hold-button-scale: 1.5;
  --hold-button-background-color: rgba(255,0,0,.3);
}

hold-button {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  aspect-ratio: 1;
}

hold-button[disabled] {
  pointer-events: none;
}

hold-button::part(content) {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 10px solid var(--hold-button-color);
  border-radius: 50%;
  background-color: var(--hold-button-background-color);
  scale: calc(0.9 / var(--hold-button-scale));
  transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 200ms;
  transform: scale(1);
}

hold-button::part(icon),
hold-button > iron-icon {
  color: var(--hold-button-color);
  width: 50%;
  height: 50%;
  margin: 0;
}

hold-button::part(content pressed) {
  transform: scale(var(--hold-button-scale));
}

hold-button::part(content ready) {
  border-style: dotted;
}

hold-button:not([active="true"])::part(content) {
  opacity: 0.5;
  filter: saturate(0%);
}
